<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Finance</title>

    <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>          
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
 

<script>
    
    $(function(){
        
        $(document).ready(function() {
            $('select').material_select();

            function calculateTotal()
            {
            
            //item_price.sugar = ($("#autocomplete-quantite").val() * $("#autocomplete-prix").val() )
            var prixHT = ($("#quantite").val() * $("#prix").val() - $("#reduction").val() )
            $("#total_ht").val(prixHT);
            var prixTTC =  prixHT + (prixHT * ($("#tva").val() / 100))
            $("#total_ttc").val(prixTTC);
            }
            $(function()
            {
                $(".autocomplete").on("change keyup",calculateTotal)
            })
  }); // end of document ready
})(jQuery); 



</script>


</head>

<body>
<!--
Client (destinataire),
Duree de validité (exemple calendrier ou bare),
Arcticle : quantité, prix, tva, réduction, total HT, total TTC, description
Possibilité d'ajouter des articles 
-->


<div class="container">
    
    <h4>DEVIS</h4>

    <h6>VENDEUR :</h6>
    <h4><%= devi.client %></h4>
    
    <table>
        <thead>
          <tr>
              <th>Date de fin de validité</th>
              <td><%= devi.date %></td>
          </tr>
        </thead>

    <table>
        <thead>
          <tr>
              <th>Description</th>
              <th>Quantité</th>
              <th>Prix unitaire HT</th>
              <th>Total HT</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= devi.description %></td>
            <td><%= devi.quantite %></td>
            <td><%= devi.prix %></td>
            <td><%= devi.totalHT %></td>
          </tr>
        </tbody>
      </table>

    <table>
        <tbody>
            <tr>
                <th>Total HT</th>
                <td><%= devi.totalHT %> €</td>
            </tr>
            <tr>
                <th>TVA</th>
                <td><%= devi.tva %> %</td>
            </tr>
            <tr>
                <th>Total TTC</th>
                <td><%= devi.totalTTC %> €</td>
            </tr>
        </tbody>
    </table>

</div>

</body>
</html>
