<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Finance</title>

    <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>          
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
 

<script>
    
    $(function(){
        
        $(document).ready(function() {
            $('select').material_select();

            function calculateTotal()
            {
            
            //item_price.sugar = ($("#autocomplete-quantite").val() * $("#autocomplete-prix").val() )
            var prixHT = ($("#quantite").val() * $("#prix").val() - $("#reduction").val() )
            $("#total_ht").val(prixHT);
            var prixTTC =  prixHT + (prixHT * ($("#tva").val() / 100))
            $("#total_ttc").val(prixTTC);
            }

           

            $(function()
            {
                $(".autocomplete").on("change keyup",calculateTotal)
            })

            
  }); // end of document ready
})(jQuery); 

 function MonDisplay(){
                document.getElementById("fab").hidden = true;
                window.print();
                document.getElementById("fab").hidden = false;
            }

</script>


</head>

<body>
<!--
Client (destinataire),
Duree de validité (exemple calendrier ou bare),
Arcticle : quantité, prix, tva, réduction, total HT, total TTC, description
Possibilité d'ajouter des articles 
-->


<div class="container">
    
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <center><h5>DEVIS</h5></center>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h6>VENDEUR :</h6>
                    <table>
                        <tbody>
                            <tr>
                                <th>MedicHome</th>
                            </tr>
                            <tr>
                                <th>Adresse</th>
                                <td>3 rue de bidule, VilleImaginaire</td>
                            </tr>
                            <tr>
                                <th>Téléphone</th>
                                <td>+33 09 54 69 23 47</td>
                            </tr>
                            <tr>
                                <th>Forme juridique</th>
                                <td>SA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col s6 offset-s6">
                    <h6>CLIENT :</h6>
                    <table>
                        <tbody>
                            <tr>
                                <th><%= devi.client %></th>
                            </tr>
                            <tr>
                                <th>Adresse</th>
                                <td>adresse du client</td>
                            </tr>
                            <tr>
                                <th>Téléphone</th>
                                <td>telephonne du client</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <table>
                        <thead><tr></tr></thead>
                        <thead>
                            <tr>
                                <th>Date de fin de validité</th>
                                <td><%= devi.date %></td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <table>
                        <thead><tr></tr></thead>
                        <thead>
                          <tr>
                              <th>Description</th>
                              <th>Quantité</th>
                              <th>Prix unitaire HT</th>
                              <th>Reduction</th>
                              <th>Total HT</th>
                          </tr>
                        </thead>
                
                        <thead>
                          <tr>
                            <td><%= devi.description %></td>
                            <td><%= devi.quantite %></td>
                            <td><%= devi.prix %> €</td>
                            <td><%= devi.reduction %> €</td>
                            <td><%= devi.totalHT %> €</td>
                          </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col s6 offset-s6">
                    <table>
                        <thead><tr></tr></thead>
                        <thead>
                            <tr>
                                <th>Total HT</th>
                                <td><%= devi.totalHT %> €</td>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th>TVA</th>
                                <td><%= devi.tva %> %</td>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th>Total TTC</th>
                                <td><%= devi.totalTTC %> €</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="fixed-action-btn horizontal" id="fab">
                    <a class="btn-floating btn-large red">
                      <i class="large material-icons">menu</i>
                    </a>
                    <ul>
                      <li><a class="btn-floating blue" id="print" onclick="MonDisplay()"><i class="material-icons">file_download</i></a></li>
                      <li><a class="btn-floating yellow darken-1" href="/finance/devis/email"><i class="material-icons">mail</i></a></li>
                      <li><a class="btn-floating green"><i class="material-icons">check</i></a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>
