<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper" style="background-color: #00A896;">
                <a href="#!" class="brand-logo"><div class="material-icons">insert_chart</div>TABLEAU DE BORD</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/finance"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Accueil" data-delay="0">home</i></a></li>
                    <li><a href="/finance/devis/view"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Liste des devis" data-delay="0">calculate</i></a></li>
                    <li><a href="/finance/facture/view"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Liste des factures" data-delay="0">receipt</i></a></li>
                    <li><a href="/finance/dashboard"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Tableau de bord" data-delay="0">insert_chart</i></a></li>
                    <li><a href=""><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Rafraichir la page" data-delay="0">refresh</i></a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="col s6">
            <div style="margin: 5%">
                <canvas id="myChart" width="90%" height="50%"></canvas>
            </div>
        </div>
        <div class="col s6">
            <div style="margin: 5%;">
                <canvas id="myChart2" width="90%" height="50%"></canvas>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col s12">
            <div style="margin-left: 27%; margin-right: 27%;">
                <canvas id="myChart3" width="90%" height="50%"></canvas>
            </div>
        </div>
    </div>
    
    <script>
        var totalHT = [];

        var dateDevis = [];
        var dateFacture = [];

        var nbDevis = [];

        var tabSignePaye = [];
        var tabNonSignePaye = [];
        
        var CA = [];

        <%
        function returnStringDate(dt) {
            let d = new Date(dt);
            let mo = new Intl.DateTimeFormat('en', { month: 'long' }).format(d);
            return `${mo}`;
        } %>
        var nbTotalDevis = 0;
        var nbTotalDevisSigne = 0;
        <% devis.forEach(function(devi) {%>
            var month = '<%= returnStringDate(devi.dateCreation) %>';
            var index = dateDevis.indexOf(month);

            if(index===-1){
                dateDevis.push(month);
                totalHT.push(<%= devi.totalHT %>);
                nbDevis.push(1);
            } else {
                totalHT.splice(index, 1, totalHT[index]+<%= devi.totalHT %>);
                nbDevis.splice(index, 1, nbDevis[index]+1);
            }

            if(<%= devi.signe %>==true){
                nbTotalDevisSigne++;
            }else{
                nbTotalDevis++;
            }
        <% }); %>


        var nbTotalFacture = 0;
        var nbTotalFacturePaye = 0;

        <% factures.forEach(function(facture) {%>
            var month = '<%= returnStringDate(facture.dateCreation) %>';
            var index = dateFacture.indexOf(month);



            if(<%= facture.paye %>==true){
                nbTotalFacturePaye++;

                if(index===-1){
                    dateFacture.push(month);
                    CA.push(<%= facture.totalHT %>);
                } else {
                    CA.splice(index, 1, CA[index]+<%= facture.totalHT %>);
                }

            }else{
                nbTotalFacture++;
            }
        <% }); %>


        tabSignePaye.push(nbTotalDevisSigne);
        tabSignePaye.push(nbTotalFacturePaye);

        tabNonSignePaye.push(nbTotalDevis);
        tabNonSignePaye.push(nbTotalFacture);

        Chart.defaults.plugins.title.display = true;

        Chart.defaults.plugins.title.text = 'Données devis';
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dateDevis,
                datasets: [{
                    label: 'Prix HT',
                    data: totalHT,
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 4,
                    yAxisID: 'y'
                },
                {
                    label: 'Nombre de Devis',
                    data: nbDevis,
                    borderColor: 'rgb(75, 192, 192)',
                    borderWidth: 4,
                    yAxisID: 'y1'
                }]
            },
            options: {
                scales: {
                    y: {
                        title: {
                            display: true,
                            text: 'Prix HT'
                        },
                        beginAtZero: true
                    },
                    y1: {
                        title: {
                            display: true,
                            text: 'Nombre de devis'
                        },
                        type: 'linear',
                        display: true,
                        position: 'right',
                        ticks: {
                            stepSize: 1
                        }
                    }
                }
            }
        });

        Chart.defaults.plugins.title.text = 'Chiffre d\'affaire par mois';
        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: dateFacture,
                datasets: [{
                    label: 'CA',
                    data: CA,
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 4
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        Chart.defaults.plugins.title.text = 'Répartition des devis et des factures';
        var ctx3 = document.getElementById('myChart3').getContext('2d');
        var myChart3 = new Chart(ctx3, {
            type: 'bar',
            data: {
                labels: ['Devis', 'Factures'],
                datasets: [
                    {
                        label: 'Signé/Payé',
                        data: tabSignePaye,
                        backgroundColor: 'rgba(26, 196, 0, 0.5)',
                        borderColor: 'rgb(26, 196, 0)',
                        borderWidth: 4
                    },
                    {
                        label: 'Non Signé/Non Payé',
                        data: tabNonSignePaye,
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgb(255, 99, 132)',
                        borderWidth: 4
                    }
                ]

            },
            options: {
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true
                    }
                }
            }
        });

    </script>
</body>
</html>