<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper" style="background-color: #00A896;">
                <a href="#!" class="brand-logo"><div class="material-icons">insert_chart</div>TABLEAU DE BORD</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/finance"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Accueil" data-delay="0">home</i></a></li>
                    <li><a href="/finance/devis/view"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Liste des devis" data-delay="0">calculate</i></a></li>
                    <li><a href="/finance/facture/view"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Liste des factures" data-delay="0">receipt</i></a></li>
                    <li><a href="/finance/dashboard"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Tableau de bord" data-delay="0">insert_chart</i></a></li>
                    <li><a href=""><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Rafraichir la page" data-delay="0">refresh</i></a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <div style="width: 60%">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        
        <div style="width: 60%">
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>

        <div style="width: 60%">
            <canvas id="myChart3" width="400" height="400"></canvas>
        </div>

        <div style="width: 60%">
            <canvas id="myChart4" width="400" height="400"></canvas>
        </div>

        <br>
        
        <div style="width: 60%">
            <canvas id="myChart5" width="400" height="400"></canvas>
        </div>
    </div>
    
    <script>
        var totalHT = [];
        var totalTTC = [];
        var quantite = [];

        var date = [];
        var dateFacture = [];

        var nbDevis = [];
        var total = [];

        var tabSignePaye = [];
        var tabNonSignePaye = [];
        
        var CA = [];

        <%
        function returnStringDate(dt) {
            let d = new Date(dt);
            //let ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d);
            let mo = new Intl.DateTimeFormat('en', { month: 'long' }).format(d);
            //let da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(d);
            return `${mo}`;
        } %>
        var nbTotalDevis = 0;
        var nbTotalDevisSigne = 0;
        <% devis.forEach(function(devi) {%>
            var month = '<%= returnStringDate(devi.dateCreation) %>';
            var index = date.indexOf(month);
            quantite.push(<%= devi.quantite %>);

            if(index===-1){
                date.push(month);
                totalTTC.push(<%= devi.totalTTC %>);
                totalHT.push(<%= devi.totalHT %>);
                nbDevis.push(1);
            } else {
                totalTTC.splice(index, 1, totalTTC[index]+<%= devi.totalTTC %>);
                totalHT.splice(index, 1, totalHT[index]+<%= devi.totalHT %>);
                nbDevis.splice(index, 1, nbDevis[index]+1);
            }
            /*console.log(date);
            console.log(totalTTC);
            console.log(totalHT);
            console.log(nbDevis);*/

            if(<%= devi.signe %>==true){
                nbTotalDevisSigne++;
            }else{
                nbTotalDevis++;
            }
        <% }); %>


        var nbTotalFacture = 0;
        var nbTotalFacturePaye = 0;

        <% factures.forEach(function(facture) {%>
            var month = '<%= returnStringDate(facture.dateCreation) %>';
            var index = dateFacture.indexOf(month);



            if(<%= facture.paye %>==true){
                nbTotalFacturePaye++;

                if(index===-1){
                    dateFacture.push(month);
                    CA.push(<%= facture.totalHT %>);
                } else {
                    CA.splice(index, 1, CA[index]+<%= facture.totalHT %>);
                }

            }else{
                nbTotalFacture++;
            }
        <% }); %>




        console.log(nbTotalDevis);
        console.log(nbTotalDevisSigne);

        total.push(nbTotalDevis);
        total.push(nbTotalDevisSigne);
        total.push(nbTotalFacture);
        total.push(nbTotalFacturePaye);

        // tabDevis.push(nbTotalDevis + nbTotalDevisSigne);
        tabSignePaye.push(nbTotalDevisSigne);
        tabSignePaye.push(nbTotalFacturePaye);

        tabNonSignePaye.push(nbTotalDevis);
        tabNonSignePaye.push(nbTotalFacture);

        Chart.defaults.plugins.title.display = true;
        Chart.defaults.plugins.title.text = 'Données devis';
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: date,
                datasets: [{
                    label: 'Prix TTC',
                    data: totalTTC,
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 4
                    // tension: 0.1,
                },
                {
                    label: 'Nombre de Devis',
                    data: nbDevis,
                    borderColor: 'rgb(75, 192, 192)',
                    borderWidth: 4
                    // tension: 0.1,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        Chart.defaults.plugins.title.text = 'Total HT Devis';
        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: date,
                datasets: [{
                    label: 'Total HT ',
                    data: totalHT,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    // tension: 0.1,
                    borderWidth: 4
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });


        Chart.defaults.plugins.title.text = 'Nombre Devis';
        var ctx3 = document.getElementById('myChart3').getContext('2d');
        var myChart3 = new Chart(ctx3, {
            type: 'line',
            data: {
                labels: dateFacture,
                datasets: [{
                    label: 'Chiffre d\'affaire',
                    data: CA,
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 4
                    // tension: 0.1,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        Chart.defaults.plugins.title.text = 'Nombre Total de Devis : '+ (total[0]+total[1])+'  Nombre Total de Factures : '+ (total[2]+total[3]);
        var ctx4 = document.getElementById('myChart4').getContext('2d');
        var myChart4 = new Chart(ctx4, {
            type: 'pie',
            data: data = {
                labels: ['nbTotalDevisNonSigné', 'nbTotalDevisSigné', 'nbTotalFactureNonPayé', 'nbTotalFacturePayé'],
                datasets: [
                    {
                        label: 'Dataset 1',
                        data: total,
                        backgroundColor: ['Red', 'Orange', 'Yellow', 'Green', 'Blue'],
                    }
                ],
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    }
                }
            }
        });

        Chart.defaults.plugins.title.text = 'Chart Antoine';
        var ctx5 = document.getElementById('myChart5').getContext('2d');
        var myChart5 = new Chart(ctx5, {
            type: 'bar',
            data: {
                labels: ['Devis', 'Factures'],
                datasets: [
                    {
                        label: 'Signé/Payé',
                        data: tabSignePaye,
                        backgroundColor: 'rgba(26, 196, 0, 0.5)',
                        borderColor: 'rgb(26, 196, 0)',
                        borderWidth: 4
                    },
                    {
                        label: 'Non Signé/Non Payé',
                        data: tabNonSignePaye,
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgb(255, 99, 132)',
                        borderWidth: 4
                    }
                ]

            },
            options: {
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true
                    }
                }
            }
        });

    </script>
</body>
</html>