<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Finance</title>

    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>


</head>

<body>
<!--
Client (destinataire),
Duree de validité (exemple calendrier ou bare),
Arcticle : quantité, prix, tva, réduction, total HT, total TTC, description
Possibilité d'ajouter des articles
-->

<nav>
    <div class="nav-wrapper teal lighten-1">
        <a href="#!" class="brand-logo"><p class="material-icons">calculate</p>FINANCES</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="../"><i class="material-icons">home</i></a></li>
            <li><a href="../dashboard"><i class="material-icons">insert_chart</i></a></li>
            <li><a href=""><i class="material-icons">refresh</i></a></li>
        </ul>
    </div>
</nav>

<div class="container">

    <h3>Tous les devis</h3>
    <% devis.forEach(function(devi) {%>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="card teal lighten-1">
                    <div class="card-content white-text">
                        <span class="card-title">Devis de <%= devi.client %></span>
                        
                        <div style="margin-bottom: 20px;">
                            <p style="margin-bottom: 2px;">Date de fin de validité : <%= devi.date %></p>
                            <p>Description : <%= devi.description %></p>
                        </div>

                        <div style="margin-bottom: 25px;">
                            <span class="col s2">Quantité : <%= devi.quantite %></span>
                            <span class="col s2">Prix : <%= devi.prix  %> €</span>
                            <span class="col s2">TVA : <%= devi.tva  %> %</span>
                            <span class="col s2">Reduction : <%= devi.reduction  %> €</span>
                            <span class="col s2">Total HT : <%= devi.totalHT  %> €</span>
                            <span class="col s2">Total TTC : <%= devi.totalTTC  %> €</span>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="/devis/<%= devi.id %>" class="btn-floating teal darken-1"><i class="large material-icons">mode_edit</i></a>
                        <a class="btn-floating green"><i class="material-icons">check</i></a>
                        <a class="btn-floating red"><i class="material-icons">clear</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
    <div class="fixed-action-btn">
        <a href="/devis/new" class="btn-floating btn-large teal"><i class="large material-icons">add</i></a>
    </div>
</div>

</body>