<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Finance</title>

    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.tooltipped');
        var instances = M.Tooltip.init(elems, options);
    });
    </script>


</head>

<body>
<!--
Client (destinataire),
Duree de validité (exemple calendrier ou bare),
Arcticle : quantité, prix, tva, réduction, total HT, total TTC, description
Possibilité d'ajouter des articles
-->

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper" style="background-color: #00A896;">
            <a href="#!" class="brand-logo"><div class="material-icons">calculate</div>FINANCES</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/finance"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Accueil" data-delay="0">home</i></a></li>
                <li><a href="/finance/dashboard"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Tableau de bord" data-delay="0">insert_chart</i></a></li>
                <li><a href=""><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Rafraichir la page" data-delay="0">refresh</i></a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">

    <h3>Tous les devis</h3>
    <% devis.forEach(function(devi) {%>
    <div class="row">
        <div class="col s12">
            <div class="row">

                <div class="card" <% if(devi.signe === true){ %> style="background-color: #00A896;"<% }else{ %> style="background-color: #028090;" <% } %>>
                    <!-- <div <% if(devi.signe === true){ %> class="card" style="background-color: #05668D;"<% }else{ %> class="card teal darken-1" <% } %>> -->

                    <div class="card-content white-text">
                        <% if(devi.signe === true){ %>
                            <div style="float:right;"><i class="material-icons" style="font-size: 2.5rem;">done</i></div>
                        <% } %>
                        <div class="card-title" style="margin-bottom: 10px; font-size: xx-large;">Devis de <b><%= devi.client %></b></div>
                        
                        <div style="margin-bottom: 10px;">
                            <div style="float:left; width:40%;">N° <%= devi.id %></div>
                            <div style="text-align: right; margin-left: 40%;">Date de fin de validité : <b><%= devi.date.toDateString() %></b></div>
                        </div>
                        <div style="margin-bottom: 10px;">Description : <%= devi.description %></div>
                        
                        <div style="margin-bottom: 25px;">
                            <span class="col s2">Quantité : <b><%= devi.quantite %></b></span>
                            <span class="col s2">Prix : <b><%= devi.prix  %> €</b></span>
                            <span class="col s2">TVA : <b><%= devi.tva  %> %</b></span>
                            <span class="col s2">Reduction : <b><%= devi.reduction  %> €</b></span>
                            <span class="col s2">Total HT : <b><%= devi.totalHT  %> €</b></span>
                            <span class="col s2">Total TTC : <b><%= devi.totalTTC  %> €</b></span>
                        </div>
                        
                    </div>
                    <div class="card-action">
                        <% if(devi.signe === true){ %>
                            <% if(devi.factureExist === false){ %>
                                <a class="btn-floating orange orange-darken-4 tooltipped" href="/finance/facture/new/<%= devi.id %>" data-position="bottom" data-tooltip="Transformer en facture" data-delay="0"><i class="material-icons">exit_to_app</i></a>
                            <% } %>
                        <% } else{ %>
                            <a class="btn-floating teal darken-1 tooltipped" href="/finance/devis/apercu/<%= devi.id %>" data-position="bottom" data-tooltip="Modifier" data-delay="0"><i class="large material-icons">mode_edit</i></a>
                            <a class="btn-floating green tooltipped" href="/finance/devis/signature/<%= devi.id %>" data-position="bottom" data-tooltip="Signer" data-delay="0"><i class="material-icons">playlist_add_check</i></a>
                        <% } %>
                        <a class="btn-floating red tooltipped" href="/finance/devis/delete/<%= devi.id %>" data-position="bottom" data-tooltip="Supprimer" data-delay="0"><i class="material-icons">delete</i></a>
                        <a class="btn-floating teal accent-4 tooltipped" href="/finance/devis/download/<%= devi.id %>" data-position="bottom" data-tooltip="Aperçu" data-delay="0"><i class="material-icons">remove_red_eye</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
    <div class="fixed-action-btn">
        <a href="/finance/devis/new" class="btn-floating btn-large teal tooltipped" data-position="left" data-tooltip="Nouveau devis" data-delay="0"><i class="large material-icons">add</i></a>
    </div>
</div>

</body>